body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Share Tech Mono';
    display: flex;
    flex-direction: column;
    background-color: black;
}

/*header,nav*/
header {

    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(239, 217, 21);
    align-items: center;
    box-shadow: 0px 1px 50px 10px rgb(0, 0, 0);
}

header img {
    width: 150px;

}


.menu ul {
    display: flex;
    gap: 10px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    margin-right: 30px;
    color: black;

}

.menu ul li a {
    color: black;

}

a {
    text-decoration: none;

}

/*main*/
.main h2 {
    color: rgb(239, 217, 21);
}

.main {
    width: 100vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*section*/
section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 200px;
}


/*presentacion*/

#video-fondo {
    position: relative;
    width: 100vw;
    height: 80vh;
    z-index: -1;
    object-fit: cover;

    box-shadow: 0px 1px 10px 1px rgb(239, 217, 21);

}

.presentacion h1 {
    position: absolute;
    top: 65vh;
    left: 5vw;
    z-index: 1;
    font-size: 80px;
    text-shadow: 3px 1.5px 1.5px rgba(255, 230, 0, 0.452);

}



/*history*/

#historia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;




}

#historia div {
    text-align: left;
    width: 100vw;
}

#historia h2 {
    font-size: 50px;
    text-align: left;
    margin: 50px;



}

#historia p {

    font-size: 20px;
    margin: 50px;

}

.sombra-img {
    box-shadow: 0px 0px 40px 50px rgba(0, 0, 0, 1) inset;
}

.img-poatan {
    position: relative;
    z-index: -1;
    width: 800px;
    margin: 10px;
    border-radius: 10%;
}

/*ranking*/

#ranking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50vh;


}

#ranking div {
    align-items: center;
    text-align: left;



}

#ranking h2 {
    font-size: 70px;
    text-align: left;
    margin: 40px;



}

#ranking p {

    font-size: 20px;
    margin-left: 40px;

}

#ranking ul {
    list-style: none;
}

/*footer-contacto*/

#contacto {
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    margin-top: 200px;
    box-shadow: 0px -5px 6px 0px rgb(239, 217, 21);
}

#contacto form {
    width: 20%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#btn-enviar {
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

footer p {
    color: aliceblue;
    text-align: center;
}





/*pseudo-elementos*/
#btn-enviar:hover {
    background-color: rgb(239, 217, 21);
}

.menu ul li a:hover {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.6)
}

header img:hover {
    filter: drop-shadow(0px 0px 5px #000000);
}

/*media querys*/

@media (max-width: 1301px) {


    header {
        display: flex;
        flex-direction: column;
        height: 25vh;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

    }

    #historia,
    #ranking {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #historia div h2 {
        font-size: 25px;
    }

    #ranking h2 {
        font-size: 30px;
        text-align: left;

    }

    #ranking ul li {
        font-size: 15px;


    }
    .sombra-img {
        display: flex;
        justify-content: center;
        box-shadow: 5px -7px 58px 100px rgba(0, 0, 0, 0.753) inset;
    }

    .img-poatan {

        width: 80vw;
    }

   .presentacion h1{
    font-size: 65px;
   }


    #contacto form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}